.todo {
  padding: 20px;
  width: 70%;
}

.todo__list {
  display: flex;
  align-items: center;
  padding: 5px;
}

.todo__list > p {
  margin-right: 20px;
  flex: 1;
}

.todo__button {
  margin-right: 0;
}
